/* General Body Styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  /* Login Container Styles */
  .login-container {
    background-color: #4d8ba3;
    width: 350px;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
  }
  
  .login-container:hover {
    transform: scale(1.02);
  }
  
  /* Login Title Styles */
  .login-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
    color: #333333;
    animation: fadeInDown 1s ease;
  }
  
  @keyframes fadeInDown {
    0% {
      opacity: 0;
      transform: translateY(-20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  /* Input Field Styles */
  .input-field {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    font-size: 16px;
    transition: border-color 0.3s ease;
    background: #3498db;
  }
  
  .input-field:focus {
    outline: none;
    border-color: #3498db;
  }
  
  /* Login Button Styles */
  .login-button {
    width: 100%;
    padding: 12px;
    border: none;
    background-color: #3498db;
    color: white;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .login-button:hover {
    background-color: #2980b9;
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    .login-container {
      width: 80%;
    }
  }

@keyframes backgroundAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

  